# Settings for Consul server
CONSUL_CONFIG_FILE="{{ consul_config_file }} "
#CONSUL_PID_FILE=""
CONSUL_DATA_DIR="{{ consul_data_dir }}"
CONSUL_USER="{{ consul_user }}"
CONSUL_GROUP="{{ consul_group }}"
CONSUL_LOG_FILE="{{ consul_log_file }}"
